<div class="user-container">
  <div class="loading" *ngIf="showLoading">
    <div class="spinner-border" role="status">
    </div>
    <label class="loading-message">{{message}}</label>
  </div>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input [(ngModel)]="user.name" type="text" class="form-control" id="name" name="name"  placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input [(ngModel)]="user.lastname" type="text" class="form-control" id="lastname" name="lastname"  placeholder="Enter Last Name">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input [(ngModel)]="user.username" type="text" class="form-control" id="username" name="username"  placeholder="Enter Username">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input [(ngModel)]="user.email" type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" name="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="user.password" type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <button (click)="newUser()" type="button" class="btn btn-primary">Create</button>
  </form>

  <div>
    <button (click)="listUsers()" type="button" class="btn btn-primary">Obtener Usuarios</button>

  </div>

</div>