.user-container{
}
.loading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    background: #000000bd;
}
.loading-message{
    color: white;
    margin-top: 10px;
}
.spinner-border {
    border: .25em solid white;
    border-right-color: transparent;
}